body{
     /*background-color:#25272f;*/
     background-image: url(nature.jpg);
     background-size: cover;
     font-family:  sans-serif;
     max-width:1100px;
     min-width: 0px;
     margin:auto;
     margin-top: 70px;
     }



         
header h2{
          text-align: center;
           color:#430303; 
          font-family: sans-serif;
          margin-top: 80px;
          font-size: 40pt;
          
          }
header h4{
          text-align: center;
           color:#4e1212; 
          font-family: sans-serif;
          }
header img{
          float:right;
          border-color: white;
          }
article {
        background-color: #F16F51;
        padding:20px 20px;
        margin-top: 210px;
        margin-bottom: 10px;
         border-radius: 6px;
         }

article p{
          color:white;
          text-align: justify;
           font-size: 15pt;
           
          }

.starter-template{
    
}        
.main{
      width: 1100px;
      margin-left:100px;   
     }    

.tile{
      float:left;
      width:350px;
      height:450px;
      background-color: #faa742;
      padding:10px 10px;
      margin:10px 52px;
      font-family: sans-serif;
      border-radius: 6px;
      }
ol{
    color:white;
    margin-bottom:5px;
  }



li{
   margin:10px;
   font-family: sans-serif;
   padding:0.5px 5px;
   font-size: 13pt; 
   }

/*All titles*/
h3{
    color:#430303;
    font-weight:bold;
    margin-bottom: 40px;
    font-family: serif; 
  }

.Contact{
        clear:left;
        width:500px;
        margin:auto; 
        margin-bottom: 10px;
        padding:5px;
        background-color: #a2600f;
        text-align: center;
        color:white;
         border-radius: 6px; 
        }


    



h4{ 
    color:#430303;
    font-weight:bold;
    font-family: serif;
  }



#askme{
    color:white;
      }
#twitt{
       color:deepskyblue;
       opacity:0.8;
    
      }
#link{color:#59f8f8;
    opacity:0.8;
     }


.MY_CV{
       color:white;
       font-size: 23pt;
       font-weight:bold; 
       line-height: 1.5em;
       font-family: "Helvetica Neue";    
      }
.Activities{
    margin-top: 60px;
}


.strong{color:#efef64;} /*this is class so change only in the class in article tag*/


 .btn-lg {
              padding: 10px 16px;
              font-size: 18px;
              line-height: 1.3333333;
              border-radius: 6px;
              }

    .btn-primary {
                  color: #fff;
                  background-color: #337ab7;
                  border-color: #2e6da4;
                  }

/*awesome font*/
.fa{
    
    color:bisque;    
    } 

/*underline int the top of page*/
.line{ 
      width:50px;
      border-color:white;
      opacity: 0;
     }

