body{
     background-color:#25272f;
     width:1100px;
     margin:auto;
     }


header h1{
          color:#ffffff;
          font-style: normal;
          }
header h2{
          text-align: center;
           color:white;          
          }
header h4{
          text-align: center;
           color:white;          
          }
header img{
          float:right;
          border-color: white;
          }
article {
        background-color: #F16F51;
        padding:20px 20px;
        margin-top: 100px;
        margin-bottom: 10px;
         }
article h2{
     color:#430303;
}
article p{
    color:white;
    text-align: justify;
    font-size: 15pt;
    font-family:  helvetica;
}

        
.main{
    width: 1100px;
    margin-left:73px;
    
}    

.tile{
      float:left;
      width:350px;
      height:290px;
      background-color: #faa742;
      padding:10px 10px;
       margin:10px 52px;
      }
ol{
    color:white;
    margin-bottom:5px;
  }

li{
   margin: 5px;
    font-family: helvetica;
  }

h3{
    color:#430303
 }

.Contact{
        clear:left;
        width:300px;
        margin:auto;
        margin-bottom: 10px;
        padding:5px;
        background-color: #13B2A3;
        text-align: center;
    color:white;
        }
h4{color:#430303}
h5{}


 a:link,        a:visited{
                  color:burlywoods;
                  }
           a:hover{ 
                   background-color: hotpink;
                   }
           a:active{
                   background-color:darkblue;
                   }
